@import '../../default.scss';
@import '../../../../default.scss';


.root {
  background: $violet;
  color: $dark_blue;
  z-index: 9;
  position: absolute;
  text-align: center;
  height: 300px;
  width: 800px;

  padding: 16px;
  box-sizing: border-box;

  .window {

    display: flex;

    .imageContainer {

      .img {
        width: 150px;
        height: 200px;
      }
      margin-right: 10px;
    }

    .text {
      text-align: left;
      font-size: 32px;
      color: $yellow;
      margin: auto;
    }
  }

  .button {

  }

}

@media screen and (max-width: 800px) {

  .root {
    width: 450px;
    height: auto;

    .window {

      .img {
        width: 100px;
        height: 150px;
      }

      .text {
        font-size: 24px;
      }
    }

  }
}

@media screen and (max-width: 450px) {

  .root {
    width: 400px;
  }

}
