@import 'src/default.scss';
@import '../../../default.scss';

$height: 64px;
$half-height: calc(#{$height} / 2);
$factor: 32px;

@mixin colorMap($color, $hover-color) {
  background-color: $color;

  &:hover {
    background-color: $hover-color;
  }
}

.root {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  user-select: none;
  display: inline;

  & > span {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: $height;
    padding: 0 $factor;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: $height;
    color: white;
    transition: background-color $transition_duration;

    @include hexagon_clip_path(32px);

    &.primary {
      @include colorMap(#003d17, #5a3e22);
    }

    &.secondary {
      @include colorMap(#600268, #c2b82d);
    }

    &.blue {
      @include colorMap(#0c2cac, green);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
