@import 'src/default.scss';
@import '../../../default.scss';

$height: 64px;
$half-height: calc(#{$height} / 2);
$factor: 32px;

@mixin colorMap($color, $hover-color) {
  background-color: $color;

  &:hover {
    background-color: $hover-color;
  }
}

.root {
  margin: 0;
  padding: 0 $factor;
  border: none;
  cursor: pointer;
  min-height: $height;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  transition: background-color $transition_duration;
  color: white;
  font-size: 38px;
  font-weight: 400;

  :focus:not(:focus-visible) {
    outline: none;
  }

  @include hexagon_clip_path(32px);

  &:active {
    transform: translateY(1px);
  }
}

.primary {
  @include colorMap(#003d17, #5a3e22);
}

.secondary {
  @include colorMap(#600268, #c2b82d);
}

.blue {
  @include colorMap(#0c2cac, green);
}

@media screen and (max-width: 800px) {
  .root {
      font-size: 24px;
  }
}

@media (hover: none) {
  .secondary {
    &:hover {
      background: #600268;
    }
  }
  .primary {
    &:hover {
      background: #003d17;
    }
  }
  .blue {
    &:hover {
      background: #0c2cac;
    }
  }
}
