.root {
  width: 100%;
  font-size: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: left;
  &:focus-visible {

  }

  .letter {
    color: yellow;
    margin-right: 8px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 700px) {
  .text, .letter {
    font-size: 20px;
  }
}
