@import 'src/default.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100vw;
  padding: 24px;
  box-sizing: border-box;

  .sound_bt {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .millionare_icon {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: 5vmin 0;
  }

  .nickname_input {
    width: 560px;
    max-width: 100%;
    font-size: 28px;

    @media (max-width: 560px) {
      font-size: 24px;
    }
  }

  .bt {
    width: 320px;
    max-width: 100%;
    justify-content: center;
  }
}
