@import 'src/default';

$size: 40px;

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px 1px rgb(0 0 0 / 16%);
  transition: background-color $transition_duration;
  color: $default_white;
  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
