$step: 250px;

$imgWidth: 960px;
$imgHeight: 640px;

.root {
  max-height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 1;

  .image {
    display: block;
    height: auto;
    max-width: calc(100% - #{$step});
    max-height: 100%;
    object-fit: scale-down;
    z-index: 1;
  }

  .image_gamer {
    @extend .image;
    margin-right: -$step;
  }

  .image_host {
    @extend .image;
    margin-left: -$step;
  }
}
