.root {
  width: 100%;
  margin: 10px auto 10px auto;
  text-align: center;

  .fiftyFifty {

  }

  .hallHelp {

  }

  .rightToWrong {

  }

  .questionReplacement {

  }

  .callFriend {

  }
}

@media screen and (min-width: 800px){

}
@media screen and (min-width: 450px){

}
