.root {
  width: 100%;
  margin: 10px auto 10px auto;
  text-align: center;
  z-index: 99;

  .fiftyFifty {
    z-index: 99;
  }

  .hallHelp {

  }

  .rightToWrong {

  }

  .questionReplacement {

  }

  .callFriend {

  }
}

@media screen and (min-width: 800px){

}
@media screen and (min-width: 450px){

}
