.root {
 background: yellow;
 color: #151978;
 z-index: 9999;
 position: absolute;
 text-align: center;
 height: 300px;
 width: 800px;

 .title {
  font-size: 48px;
  color: #151978;
 }

 .buttons {

 }

}