@import 'src/default.scss';

.root {
  width: 100%;
  height: 100%;
  min-width: 350px;
  margin: 0 auto;
  padding: 32px;
  box-sizing: border-box;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    'end_game_bt  sound_bt    persons_shower  score'
    'hints        hints       persons_shower  score'
    'timer        timer       timer           timer'
    'questions    questions   questions       questions';

  .bt {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 40px;
    border: none;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 16%);
    color: $default_white;
    font-size: 18px;
    z-index: 9;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  .end_game_bt {
    grid-area: end_game_bt;
    @extend .bt;
  }

  .sound_bt {
    grid-area: sound_bt;
    @extend .bt;
  }

  .persons_shower {
    grid-area: persons_shower;
  }

  .score {
    grid-area: score;
    color: yellow;
    z-index: 9;
  }

  .timer {
    grid-area: timer;
  }

  .hints {
    grid-area: hints;
  }

  .questions {
    grid-area: questions;
  }
}

@media screen and (max-width: 800px) {
  .root {
    .display {
      .end_game_bt,
      .sound_bt {
        border-radius: 50%;
        width: 40px;
        height: 40px;

        .content_bt {
          display: none;
        }
      }
      .image {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .root {
    .display {
      .image {
        width: 100px;
      }
    }
  }
}
