@import 'src/default.scss';

.root {
  width: 100%;
  height: 100%;
  min-width: 350px;
  margin: 0 auto;
  padding: 32px;
  box-sizing: border-box;

  .display {
    display: flex;

    .image {
      display: block;
      margin: 32px auto;
      width: 300px;
    }
  }

  .score {
    color: yellow;
    font-size: 32px;
  }
}

@media screen and (max-width: 800px) {
  .root {
    .display {
      .image {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .root {
    .display {
      .image {
        width: 100px;
      }
    }
  }
}
