@import 'src/default.scss';

$sideColumnWidth: 160px;

.root {
  width: 100%;
  min-width: 350px;
  margin: 0 auto;
  padding: 32px;
  box-sizing: border-box;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: $sideColumnWidth 1fr $sideColumnWidth;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    'buttons     persons_shower  score'
    'hints       hints           hints'
    'questions   questions       questions';

  .buttons {
    grid-area: buttons;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px
  }

  .persons_shower {
    grid-area: persons_shower;
  }

  .score {
    grid-area: score;
    justify-self: end;
    z-index: 9;
  }

  .hints {
    grid-area: hints;
    justify-self: center;
  }

  .questions {
    grid-area: questions;
  }
}

@media (max-width: 860px) {
  .root {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content min-content;
    grid-template-areas:
    'buttons        score'
    'persons_shower persons_shower'
    'hints          hints'
    'questions      questions';
  }
}
