$color: #600268;

.root {
  box-sizing: border-box;
  height: auto;
  padding: 10px 24px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  clip-path: polygon(95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%, 5% 0);
  background-color: $color;
  min-width: 100%;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}