@import '../../../default.scss';

$color: #600268;

.root {
  box-sizing: border-box;
  height: auto;
  padding: 10px 48px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  @include hexagon_clip_path(32px);
  background-color: $color;
  min-width: 100%;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  line-height: 24px;
}

@media  screen and (max-width: 700px){
  .root {
    font-size: 32px;
  }

}
