$color: #600268;
$factor: 32px;

.root {
  box-sizing: border-box;
  height: auto;
  padding: 10px 24px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  clip-path: polygon($factor 0, calc(100% - #{$factor}) 0%, 100% 50%, calc(100% - #{$factor}) 100%, $factor 100%, 0% 50%);
  background-color: $color;
  min-width: 100%;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
