@import '../../../default.scss';

.root {
  outline: none;
  border: none;
  border-bottom: 2px solid #2a54b5;
  background: none;
  color: white;
  text-align: center;

  &:focus {
    border-color: rgba(42, 84, 181, 0.7);
  }
}
