@import '../../../default.scss';

.root {
  outline: none;
  border: none;
  border-bottom: 2px solid $default_blue;
  background: none;
  color: white;
  text-align: center;

  &:focus {
    border-color: rgba($default_blue, 0.7);
  }
}
