@import "../../../default.scss";

.root {
  width: 440px;
  font-size: 48px;

  outline: none;
  border: none;
  border-bottom: 2px solid $default_blue;
  background: none;
  color: white;
  text-align: center;

  &:focus {
    border-color: rgba($default_blue, 0.7);
  }
}
