@import '../../default.scss';
@import '../../../../default.scss';

$violet: #5a1880;
$white: white;

.root{

  .modal {
    background: $violet;
    color: $blue;
    z-index: 9;
    position: absolute;
    text-align: center;
    height: 300px;
    width: 800px;

    padding: 16px;
    box-sizing: border-box;
  }

  .hint {

  }

}