@import '../../../default.scss';
@import '../default.scss';

.root {
  background: $violet;
  z-index: 9;
  position: absolute;
  text-align: center;
  height: 300px;
  width: 800px;
  border-radius: $modal_border_radius;

  padding: 16px;
  box-sizing: border-box;

  .title {
    font-size: 48px;
    color: $white;
    font-family: $Roboto;
  }

  .buttons {
    margin: 16px;

    & > button {
      margin-bottom: 20px;
      min-width: 300px;
    }

    .word {
      display: inline-block;
      width: 280px;
    }
  }
}

@media screen and (max-width: 800px) {
  span {
    display: block;
  }

  .root {
    width: 450px;
    height: auto;

    .buttons {

      .word, {
        font-size: 24px;
        width: auto;
      }
    }

    .title {
      font-size: 24px;
    }

  }

}
