@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #151978;
}

$default_blue: #1A76FF;
$default_white: #F9FAFE;
$transition_duration: 250ms;

$Roboto: 'Roboto';

@mixin hexagon_clip_path($factor){
  clip-path: polygon($factor 0, calc(100% - #{$factor}) 0%, 100% 50%, calc(100% - #{$factor}) 100%, $factor 100%, 0% 50%);
}

