@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$Roboto: 'Roboto';

$yellow: yellow;
$dark_blue: #180492;
$violet: #920092;
$white: white;
$default_blue: #1240a9;
$default_white: #f9fafe;
$transition_duration: 250ms;
$back_violet: #662389;
$modal_border_radius: 8px;

:global{
  html, body, #root{
    width: 100%;
    min-height: 100vh;
  }
}
html {
  min-width: 360px;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(222deg, $back_violet -0.89%, $default_blue 100%);
  font-family: $Roboto;
}

@mixin hexagon_clip_path($factor) {
  clip-path: polygon(
    $factor 0,
    calc(100% - #{$factor}) 0%,
    100% 50%,
    calc(100% - #{$factor}) 100%,
    $factor 100%,
    0% 50%
  );
}
