@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$Roboto: 'Roboto';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(213.77deg, #151978 37.3%, #600268 95.78%);
  font-family: $Roboto;
}

$default_blue: #1a76ff;
$default_white: #f9fafe;
$transition_duration: 250ms;

@mixin hexagon_clip_path($factor) {
  clip-path: polygon(
    $factor 0,
    calc(100% - #{$factor}) 0%,
    100% 50%,
    calc(100% - #{$factor}) 100%,
    $factor 100%,
    0% 50%
  );
}
