@import '../../../default.scss';

.root {
  width: auto;
  display: inline-block;
  font-family: $Roboto;
  white-space: nowrap;
  padding: 2px 16px;

  &.fireproof {
    color: white;
  }

  &.selected {
    @include hexagon_clip_path(8px);
    background-color: orange;
    color: $dark_blue;
    font-weight: bold;
  }

  .id {
    display: inline-block;
    width: 20px;
    margin-right: 8px;
    text-align: center;
  }

  .amount {
    display: inline-block;
    width: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .root {
    width: auto;

    .id,
    .amount {
      width: auto;
      display: inline;
      font-size: 12px;
    }
  }
}
